<% provide(:title, "My Artists") %>
<h1>My Artists</h1>
Total count: <%= @my_artists.count %><br/><br/>
<br/>

<% @my_artists.each do |artist| %>
  Artist: <%= artist.name %><br/>
  <%= image_tag(artist.photo) %><br/>
  Similar Artists: <%= artist.similar %><br/><br/>
  <%= link_to 'Delete', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' } %><br/><br/>
<% end %>



