<div class="col-xs-12">
  <%= form_for(@user) do |form| %>
    <%= form.label :username, class: "form" %>:</br>
    <%= form.text_field :name %>
    </br>
    </br>
    <%= form.label :email_address, class: "form" %>:</br>  
    <%= form.text_field :email %>
    </br>
    </br>
    <%= form.label :password, class: "form" %>:</br>
    <%= form.password_field :password %>
    </br>
    </br>
    <%= form.label :confirmation, class: "form" %>:</br>
    <%= form.password_field :password_confirmation %>
    </br>
    </br>
    <%= form.submit 'Enter', class: "btn btn-primary" %>
    </br>
    </br>
    <a href="/signin">Already a member?</a>
  <% end %>
</div>
