<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> 
          <% if signed_in? %>
              <a class="nav navbar-nav" href="/concerts/new">Search Concerts</a>
              <a class="nav navbar-nav" href="/artists/new"> Search Artists</a>
            <% else %>
              <a class="nav navbar-nav" href="/home">LVE</a>
          <% end %>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="linkster"><%= link_to "My Concerts", myconcerts_path %></li>
              <li class="linkster"><%= link_to "My Artist", myartists_path %></li>
              <li class="linkster"><%# link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li class="linkster"><%= link_to "Sign Out", signout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Sign In", signin_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
